body {
    background-image: url("../images/017-Subtle-light-patterns-Vol04.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}